@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

:root {
  font-family: 'Work Sans', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Cores do projeto */
  --color-dourado: #CFAA60;
  --color-bege-claro: #EFE8E0;
  --color-azul-escuro: #0C1C2C;
  --color-azul-claro: #54ABDD;
  --color-laranja: #EBB855;
  --color-fundos:#FFF7F7;
  --color-fundo-input: #FAFAFA;
}






