@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

:root {
  font-family: 'Work Sans', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Escalas de fonte fluidas */
  --font-size-base: clamp(14px, 1vw + 0.5rem, 18px);
  --font-size-sm: clamp(12px, 0.9vw + 0.4rem, 16px);
  --font-size-lg: clamp(18px, 1.2vw + 0.6rem, 24px);
  --font-size-xl: clamp(24px, 2vw + 0.8rem, 36px);
  --font-size-xxl: clamp(32px, 3vw + 1rem, 48px);

  /* Cores do projeto */
  --color-dourado: #CFAA60;
  --color-bege-claro: #EFE8E0;
  --color-azul-escuro: #0C1C2C;
  --color-azul-claro: #54ABDD;
  --color-laranja: #EBB855;
  --color-fundos:#FFF7F7;
  --color-fundo-input: #FAFAFA;
}

* {
  box-sizing: border-box;
}

/* Aplicações */
body {
  font-size: var(--font-size-base);
}

h1 {
  font-size: var(--font-size-xxl);
  font-weight: 700;
}

h2 {
  font-size: var(--font-size-xl);
  font-weight: 600;
}

h3 {
  font-size: var(--font-size-lg);
  font-weight: 600;
}

p, span, a, label, button {
  font-size: var(--font-size-base);

}
